<h3>Change Password</h3>

<p class="entryhelp" style="margin-top:0.5em;">Your current password:</p>
<%= password_field :old, :password, :size => 16 %>

<br />
<br />


<div>
  <p class="entryhelp" style="margin-top:0.5em;">Enter a new password twice to change your password. (must be longer than 5 characters)</p>
  <%= password.password_field :password, :size => 16 %>
  <span class="entryhelp">(once)</span><br />
		
  <%= password.password_field :password_confirmation, :size => 16 %>
  <span class="entryhelp">(and again)</span>
</div>
