<h3>Frequently Asked Questions</h3>

<p><b>Q</b> What is Book Burro?</p>
<p><b>A</b> Book Burro is an extension for Firefox and Flock.  When it senses your are looking at a page that contains a book, it will overlay a small panel which when opened lists prices at online bookstores such as Amazon, Buy, Half (and many more) and whether the book is available at your library.</p>

<p><b>Q</b> Who created Book Burro?</p>
<p><b>A</b> I'm <a href="http://overstimulate.com">Jesse Andrews</a>, a software developer who loves books and browsers.</p>

<p><b>Q</b> What is the connection with Greasemonkey?</p>
<p><b>A</b> Book Burro was originally created as a script for <a href="http://www.greasespot.net/">Greasemonkey</a>, another extension, but has since grown to be an extension of its own (enabling a preference panel and caching).  Besides adding functionality the switch makes installation easier.</p>

<p><b>Q</b> Is it spyware/adware?</p>
<p><b>A</b> No!  You install Book Burro in your web browser and then you must click the panel before it will do anything.  You can easily remove Book Burro the same way you remove any other extension. (Tools -> Addons -> remove)</p>

<p><b>Q</b> You use affiliate codes?</p>
<p><b>A</b> By default codes are used on a handful of sites.  These codes maintain your anonymity while supporting further development.  If you having issues (technical, moral or otherwise) with the affiliate codes, you can disable them in the preferences panel.  I hope that you enjoy it enough to leave the affiliate codes enabled.</p>

