
<h2>The Tour</h2>

<p>Book Burro is an extension for book lovers.  An "intellegent agent" that gathers information from many web APIs, including libraries, stores and book social networks.</p>

<br />
<h3>Overview</h3>

<p>A quick overview of how to interact with the panel is presented on the <a href="/">home page</a>.</p>

<p>Developers who wish to add their libraries can learn how to do so at the <a href="/libraries">Library</a> page.</p>

<br />
<h3>Details</h3>

<p>To get the full experience you should configure which libraries/stores you wish book burro to search.  Tools -> Book Burro Settings.</p>

<p>You can use Worldcat to search the thousands of libraries in the worldcat system. Or you can add individual libraries.</p>

<p>Then visit a book on Amazon (or other sites which put the ISBN in the URL - we are working on expanding support to other the page itself).  If you are on another page with an isbn and book burro didn't pop up: select the isbn and right click and select "book burro search" and the panel will be brought up.</p>

<br />
<h3>Open Source</h3>

<p>Book Burro is GPL and hosted at <a href="http://github.com/anotherjesse/bookburro">github</a>.</p>


