<div style="text-align: center"><span style="background-color: #ffc;">An extension for FireFox &amp; Flock web browsers to <em>save you time and money</em> when browsing books.</span></div>

<br />

<h3>Getting Started: How Book Burro Works</h3>

<br />

<div>
  <div class="span-6">
    <img src="/static/1.png" width="200" height="100" />
  </div>
  <div class="span-8">
    <h4>Browse The Web</h4>
    <p>After <a href="/preview">installing</a> Book Burro, you continue to browse the web as usual.  When you visit a webpage with a book on it, Book Burro adds itself to the page.</p>
  </div>
</div>

<div class="clear"></div>

<br /><br /><br />

<div>
  <div class="span-6">
    <img src="/static/2.png" width="200" height="100" />
  </div>
  <div class="span-8">
    <h4>The Book Burro Panel</h4>
    <p>Book Burro is added to the upper left corner of the page, letting you know it is ready to connect you to book related resources around the web.  Until clicked, no communication with other sites will occur.</p>
  </div>
</div>

<div class="clear"></div>
<br /><br /><br />


<div>
  <div class="span-6">
    <img src="/static/3.png" width="200" height="100" />
  </div>
  <div class="span-8">
    <h4>Information &amp; Links</h4>
    <p>Clicking the panel will open up a list of your libraries, book stores and online services.  In addition, information about pricing and availability is added to the list - all without visiting any other pages.</p>
  </div>
</div>

<div class="clear"></div>

<br />
<br />

<div class="fs-homecontent">
  <div class="span-5">
    <a href="/libraries"><img src="/static/libraries.jpg" border="1" class="outline" /></a>
    <p class="heading">Libraries</p>
    <p>Book Burro can check if your favorite libraries.  Also by integrating with <a href="http://www.worldcat.org/">WorldCat</a>, you can check over 10,000 libraries.</p>
  </div>

  <div class="span-5">
    <a href="/online-services"><img src="/static/librarything.jpg" border="0" class="outline" /></a>
    <p class="heading">Online Services</p>
    <p>Book Burro integrates with online communities such as LibraryThing, PaperBackSwap, BookMooch and Shelfari.</p>
  </div>

  <div class="span-5 last">
    <a href="/stores"><img src="/static/powells.jpg" border="0" class="outline" /></a>
    <p class="heading">Stores</p>
    <p>Book Burro can find the price at many popular online book stores.</p>
  </div>
</div>
