<style type="text/css">
  h3 { padding-top: 25px; }
  h3.installbutton a {
    border: 1px solid #333;
    -moz-border-radius: 5px;
    display: block;
    margin: 0 auto;
    width: 160px;
    background: green url(/static/icons/plugins-48.png)  left no-repeat;
    padding: 4px 8px 4px 56px;
    height: 48px;
    line-height: 48px;
    color: white;
    text-align: center;
  }

  h3.installbutton a:hover {
    text-decoration: underline;
  }

</style>

<h3 class="installbutton"><a href="https://bookburro.org/bookburro.xpi">Install Book Burro</a></h3>
<div class="clear"></div>
<br />

<img src="/static/install/step0.png" alt="Step 0: Install Firefox or Flock" /><br /><br />

  <div class="prepend-1 append-1">

    <p>Book Burro requires Firefox or Flock.  If you aren't already using one of those browser, you can install them via:</p>

    <p><a href="http://www.spreadfirefox.com/?q=affiliates&amp;id=208179&amp;t=222"><img title="Spread Firefox" src="http://sfx-images.mozilla.org/affiliates/Buttons/firefox3/foxkeh-fx3-180x60.png" border="0"></a></p>

    <p><a href="http://spread.flock.com/buttons/?user=&amp;ref=getFlock-EN.gif"><img style="border: medium none ;" src="http://spread.flock.com/buttons/getFlock-EN.gif" alt="Get Flock" title="Get Flock"></a></p>
  </div>

<div class="clear"></div>
<br />

<img src="/static/install/step1.png" alt="Step 1: Click Install" /><br /><br />

  <div class="prepend-1 append-1">
    <p>Clicking the big green button above. If this notice appears, you will need to add this site to your browser's whitelist:</p>

    <div><img src="/static/install/warning.png" style="padding: 8px" /></div>

    <ol>
       <li>Click "Edit Options..." in the bar. The Firefox "Allowed Sites" window will appear.</li>
       <li>Click "Allow" to add Book Burro to the list of allowed sites, then click "OK".</li>
       <li>You will need to click the "Install" link a second time to begin installation.</li>
    </ol>
  </div>

<div class="clear"></div>
<br />

<img src="/static/install/step2.png" alt="Step 2: Restart" /><br /><br />

  <div class="prepend-1 append-1">
    <p>After Installation you will have to restart your browser</p>
  </div>

<div class="clear"></div>
<br />
<br />


<img src="/static/install/step3.png" alt="Step 3: Customize" /><br /><br />

  <div class="append-1 prepend-1">
    <img src="/static/install/prefs.jpg" style="float: left; padding: 0 8px 8px 0 " />
    <p>Click on the menubar: <b>Tools -> Book Burro</b></p>
    <br />
    <p>Now you can select what stores, libraries and other online services Book Burro uses.</p>
  </div>

